.header {
  background-color: #1F1F1F; 
  height: 48px
}

.header h2 {
  color: #FFF;
  font-size: 24px;
  padding-top: 10px
}

.change-log, .desc, .interface, .license, .toc {
  background-color: #FFF;
  color: #000;
  font-size: 16px
}

.change-log ul, .desc ul {
  list-style-type: disc
}

.change-log .version {
  text-decoration: underline
}

.desc p, .interface p, .license p {
  text-indent: 1.5em
}

.license .block {
  margin-left: 3em;
  text-indent: 0
}

.license .centered {
  text-align: center;
  text-indent: 0
}

.toc p {
  margin-top: 0;
  margin-bottom: 0
}

.interface ul, .toc ul {
  list-style-type: none
}

.footer {
  background-color: #2C2C2C;
  color: #FFF;
  font-size: 16px
}